@font-face {
  font-family: 'GenEiLateMin_v2';
  src: url(./fonts/GenEiLateMin_v2.woff) format('woff');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  font-family: 'GenEiLateMin_v2' !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
